/* non-app */

.toolbox-button {
    position: fixed;
    right: 5px;
    top: 0px;
    background-color: black;
    color: white;
    padding: 5px;
    font-size: 16px;
    border: none;
    width: 25px;
    height: 25px;
    font-size: 24px;
    font-weight: bold;
    z-index: 1;
    cursor: pointer;
  }
  
  .toolbox {
    position: fixed;
    top: 0px;
    right: 0px;
    width: 300px;
    height: 100%;
    background-color: rgba(56, 56, 56, 0.9);
  }
  
  @keyframes slide {
    from {
      margin-right: -300px;
    }
    to {
      margin-right: 0px;
    }
  }
  
  @keyframes slide-bye {
    from {
      margin-right: 0px;
    }
    to {
      margin-right: -300px;
    }
  }
  
  .closing {
    display: block;
    animation-duration: 1s;
    animation-name: slide-bye;
  }
  
  .closed {
    display: none !important;
  }
  
  .opened {
    display: block;
    animation-duration: 1s;
    animation-name: slide;
    right: 0px;
  }
  
  /* 테스트 관련 */
  
  .text-tab {
    padding: 10px;
    color: white;
    font-size: 30px;
    text-align: center;
  }

.theme-change-button {
    padding: 10px;
    color: rgba(235,235,235, 50%);
    font-size: 30px;
    background-color: rgba(0,0,0, 50%);
    text-align: center;
    cursor: pointer;
}

.theme-change-button:hover {
    padding: 10px;
    font-size: 30px;
    background-color: rgba(255, 255, 255, 50%);
    cursor: pointer;
}

.lang-change-button {
    padding: 10px;
    color: rgba(235,235,235, 50%);
    font-size: 30px;
    background-color: rgba(43, 26, 26, 50%);
    text-align: center;
    cursor: pointer;
}

.lang-change-button:hover {
    padding: 10px;
    font-size: 30px;
    background-color: rgba(255, 255, 255, 50%);
    cursor: pointer;
}

.edit-mode-button {
    padding: 10px;
    color: rgba(235,235,235, 50%);
    font-size: 30px;
    background-color: rgba(43, 0, 0, 0.5);
    text-align: center;
    cursor: pointer;
}

.edit-mode-button:hover {
    padding: 10px;
    font-size: 30px;
    background-color: rgba(255, 255, 255, 50%);
    cursor: pointer;
}

.no-drag {-ms-user-select: none; -moz-user-select: -moz-none; -webkit-user-select: none; -khtml-user-select: none; user-select:none;}