/* non-app */

.toolbox-button {
    position: fixed;
    right: 5px;
    top: 0px;
    background-color: black;
    color: white;
    padding: 5px;
    font-size: 16px;
    border: none;
    width: 25px;
    height: 25px;
    font-size: 24px;
    font-weight: bold;
    z-index: 1;
    cursor: pointer;
  }
  
  .toolbox {
    position: fixed;
    top: 0px;
    right: 0px;
    width: 300px;
    height: 100%;
    background-color: rgba(56, 56, 56, 0.9);
  }
  
  @keyframes slide {
    from {
      margin-right: -300px;
    }
    to {
      margin-right: 0px;
    }
  }
  
  @keyframes slide-bye {
    from {
      margin-right: 0px;
    }
    to {
      margin-right: -300px;
    }
  }
  
  .closing {
    display: block;
    animation-duration: 1s;
    animation-name: slide-bye;
  }
  
  .closed {
    display: none !important;
  }
  
  .opened {
    display: block;
    animation-duration: 1s;
    animation-name: slide;
    right: 0px;
  }

  
  /* Dropdown Button */
  .menu-type-button {
    background-color: #4caf50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  /* The container <div> - needed to position the menu-type content */
  .menu-type {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .menu-type-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  /* Links inside the menu-type */
  .menu-type-content div {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of menu-type links on hover */
  .menu-type-content div:hover {
    background-color: #ddd;
  }
  
  /* Show the menu-type menu on hover */
  .menu-type:hover .menu-type-content {
    display: block;
  }
  
  /* Change the background color of the menu-type button when the menu-type content is shown */
  .menu-type:hover .menu-type-button {
    background-color: #3e8e41;
    cursor: pointer;
  }
  
  /* 테스트 관련 */
  
  .text-tab {
    padding: 10px;
    color: white;
    font-size: 30px;
    text-align: center;
  }

.theme-change-button {
    padding: 10px;
    color: rgba(235,235,235, 50%);
    font-size: 30px;
    background-color: rgba(0,0,0, 50%);
    text-align: center;
    cursor: pointer;
}

.theme-change-button:hover {
    padding: 10px;
    font-size: 30px;
    background-color: rgba(255, 255, 255, 50%);
    cursor: pointer;
}

.lang-change-button {
    padding: 10px;
    color: rgba(235,235,235, 50%);
    font-size: 30px;
    background-color: rgba(43, 26, 26, 50%);
    text-align: center;
    cursor: pointer;
}

.lang-change-button:hover {
    padding: 10px;
    font-size: 30px;
    background-color: rgba(255, 255, 255, 50%);
    cursor: pointer;
}

.edit-mode-button {
    padding: 10px;
    color: rgba(235,235,235, 50%);
    font-size: 30px;
    background-color: rgba(43, 0, 0, 0.5);
    text-align: center;
    cursor: pointer;
}

.edit-mode-button:hover {
    padding: 10px;
    font-size: 30px;
    background-color: rgba(255, 255, 255, 50%);
    cursor: pointer;
}

.no-drag {-ms-user-select: none; -moz-user-select: -moz-none; -webkit-user-select: none; -khtml-user-select: none; user-select:none;}