@font-face {
  font-family: "LotteMartHappy";
  font-style: normal;
  font-weight: 400;
  src: url("//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartHappy/LotteMartHappyMedium.woff2")
      format("woff2"),
    url("//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartHappy/LotteMartHappyMedium.woff")
      format("woff");
}

@font-face { font-family: 'BMEULJIRO'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/BMEULJIRO.woff') format('woff'); font-weight: normal; font-style: normal; }

@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

.lottemarthappy * {
  font-family: "LotteMartHappy", sans-serif;
}

.menu-item {
    padding-bottom: 20px;
    font-size: 21px;
}

.text-item {
  font-family: "LotteMartHappy", sans-serif;
  display: inline-block;
  width: 260px;
}

.price-item {
  font-family: "LotteMartHappy", sans-serif;
  display: inline-block;
  width: 135px;
  text-align: center;
}

.subtext-item {
    display: block;
    font-family: "LotteMartHappy", sans-serif;
    color: rgb(77, 77, 77);
    width: 295px;
}

.title-item {
  font-family: "BMEULJIRO";
  font-size: 45px;
  padding-top: 23px;
  padding-bottom: 30px;
  width: 260px;
  display: inline-block;
}

.hot-ice-item {
    font-family: "Abel", sans-serif;
    font-size: 21px;
    text-align: center;
    width: 135px;
    display: inline-block;
}

.title-container {
    display: block;
}

.sector-item {
    padding-left: 2%;
    padding-bottom: 8px;
    display: block;
}

.menu-container {
    display: table-cell;
    width: 420px;
    padding-left: 45px;
    height: 825px;
    top: 0px;
}

/* 변경 가능 속성 */

.is-prepared {
  text-decoration: line-through;
  color: gray;
}
.is-event {
  
}

/* non-app */

.toolbox {
  position: fixed;
  top: 5px;
  right: 5px;
}

/* Dropdown Button */
.menu-type-button {
  background-color: #4caf50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the menu-type content */
.menu-type {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* Dropdown Content (Hidden by Default) */
.menu-type-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the menu-type */
.menu-type-content div {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of menu-type links on hover */
.menu-type-content div:hover {
  background-color: #ddd;
}

/* Show the menu-type menu on hover */
.menu-type:hover .menu-type-content {
  display: block;
}

/* Change the background color of the menu-type button when the menu-type content is shown */
.menu-type:hover .menu-type-button {
  background-color: #3e8e41;
  cursor: pointer;
}
